* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  min-height: 1000px;
  font-family: roboto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: bisque;
}

.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0;
  padding: 20px 0;
}

.container {
  height: 100%;
  width: 70%;
  background-color: #fff;
  display: grid;
  grid-template-columns: 2fr 4fr;
}

.left-bar {
  height: 1200px;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  width: 100%;
  background-color: rgb(13, 181, 244);
}

.right-bar {
  height: 1200px;
  width: 100%;
  background-color: #fff;
}

.box1 {
  width: 100%;
}

.box1 img {
  width: 100%;
  height: 100%;
}

.name h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.name p {
  font-size: 14px;
  font-weight: 400;
  margin-bottom: 5px;
}

.box2 i {
  font-size: 25px;
  color: #fff;
  margin-right: 5px;
}

.address {
  display: flex;
  align-items: center;
}

.contact {
  display: flex;
  align-items: center;
}

.mail {
  display: flex;
  align-items: center;
}

.website {
  display: flex;
  align-items: center;
}

.box2 {
  padding: 5px 0 0 15px;
  width: 100%;
  align-items: center;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.7);
}

.box2 div {
  padding: 15px 0;
}

.box3 {
  height: 250px;
  margin-top: 10px;
  padding: 5px 0 0 15px;
  width: 100%;
  align-items: center;
  color: rgba(255, 255, 255, 0.7);
}

.box3 div {
  padding: 15px 0;
}

.box3 h5 {
  color: #fff;
  font-size: 16px;
  font-weight: 700;
}

.box4 {
  margin-top: -30px;
  width: 100%;
}

.box4 div {
  padding: 10px 0;
}

.devider {
  width: 100%;
  display: flex;
  justify-content: center;
}

hr {
  border: none;
  outline: none;
  border-bottom: 2px solid #fff;
  width: 90%;
}

.skills {
  display: flex;
  align-items: center;
}

.skills p {
  font-size: 16px;
}

.skills P {
  width: 70px;
}

.html-bar {
  padding: 0 !important;
  display: flex;
  align-items: center;
  width: 100px;
  height: 5px;
  background-color: lightblue;
}

.html-grade {
  padding: 0 !important;
  width: 90%;
  height: 5px;
  background-color: #fff;
}

.css-bar {
  padding: 0 !important;
  display: flex;
  align-items: center;
  width: 100px;
  height: 5px;
  background-color: lightblue;
}

.css-grade {
  padding: 0 !important;
  width: 88%;
  height: 5px;
  z-index: 99;
  background-color: #fff;
}

.js-bar {
  padding: 0 !important;
  display: flex;
  align-items: center;
  width: 100px;
  height: 5px;
  background-color: lightblue;
}

.js-grade {
  padding: 0 !important;
  width: 80%;
  height: 5px;
  z-index: 99;
  background-color: #fff;
}

.nodejs-bar {
  padding: 0 !important;
  display: flex;
  align-items: center;
  width: 100px;
  height: 5px;
  background-color: lightblue;
}

.nodejs-grade {
  padding: 0 !important;
  width: 83%;
  height: 5px;
  background-color: #fff;
}

.box3 .percent {
  font-size: 12px;
  margin-left: 5px;
}

.box4 {
  padding: 10px 0 8px 15px;
}

.box4 i {
  margin-right: 10px;
  font-size: 25px;
  color: #fff;
}

.facebook {
  display: flex;
  align-items: center;
}

.twitter {
  display: flex;
  align-items: center;
}

.youtube {
  display: flex;
  align-items: center;
}

.linkedin {
  display: flex;
  align-items: center;
}

.social h5 {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.head {
  color: #fff;
  font-size: 18px;
  font-weight: 700;
}

.text {
  color: rgba(255, 255, 255, 0.7);
}

.right-bar {
  display: grid;
  grid-template-rows: 1fr 2fr 2fr 1fr;
  padding: 30px;
}

.about-us {
  display: flex;
  justify-content: center;
  align-items: left;
  padding: 15px 0 0;
  margin-bottom: 10px;
  flex-direction: column;
}

.about-us span {
  font-size: 18px;
  line-height: 25px;
}

.right-head {
  margin-bottom: 10px;
  color: rgb(13, 181, 244);
}

.rigt-text {
  text-align: left;
  font-stretch: normal;
  line-height: 25px;
  font-size: 16px;
}

.work-experience {
  display: flex;
  flex-direction: column;
  justify-content: left;
  margin-bottom: 10px;
  padding: 0 0 15px;
  line-height: 25px;
}

.work-experience :nth-child(1) {
  color: rgb(13, 181, 244);
  margin-bottom: 20px;
}

.year {
  display: block;
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
  padding-left: 10px;
}

.designation {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
}

.institute {
  font-size: 18px;
  font-weight: 700;
  padding-left: 10px;
}

.exp-text {
  margin-bottom: 20px;
  padding-left: 10px;
  font-size: 20px;
}

.edu-text {
  margin-bottom: 20px;
  font-size: 20px;
  padding-left: 10px;
}

.education {
  height: 300px;
}

.education :nth-child(1) {
  color: rgb(13, 181, 244);
  margin-bottom: 20px;
}

.hobby {
  padding: 0 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: rgb(13, 181, 244);
}

.hobby h3 {
  margin-bottom: 20px;
  margin-top: -60px;
}

.icons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  align-items: center;
  justify-content: start;
}

.icons i {
  color: rgb(13, 181, 244);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80px;
  height: 80px;
  background-color: transparent;
  border: 1px solid rgb(13, 181, 244);
  font-size: 40px;
  border-radius: 50%;
}

.icons hr {
  width: 100%;
  height: 2px;
  border-color: rgb(13, 181, 244);
}

.right-hr {
  margin-top: 10px;
  width: 100%;
  border-color: rgb(13, 181, 244);
}
